.main-wrapper {
  .layout {
    background: none;
  }
  .header-wrapper {
    background: none;
    display: flex;
    justify-content: space-between;
    height: 70px;
    box-shadow: 0px 1px 2px 0px rgba(37, 46, 113, 0.12);
    .username {
      .icon {
        margin-right: 10px;
        font-size: 1.4rem;
      }
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.form-header {
  text-align: center;
  font-size: 2rem;
}
.box-shadow {
  box-shadow: 0px 1px 2px 0px rgba(37, 46, 113, 0.12);
}
